@tailwind base;
@tailwind components;
@tailwind utilities;


textarea:focus {
  outline: none;
  border: 2px solid rgb(34 197 94);
}

/* base styles */
body {
  background: #f3cb81;
  @apply text-gray-500 m-8;
  /* @apply stavljas zvog tailwinda, jer on snabdeva te klase */
}

h1 {
  @apply font-bold text-primary text-lg;
}

h2 {
  @apply font-bold text-lg text-green-500;
}

main {
  @apply max-w-5xl my-12 mx-auto px-8;
}

main > h2 {
  @apply mb-4 pb-2 text-base;
}

p > a {
  @apply text-primary underline;
}

/* nav styles */
nav {
  @apply pb-4 border-b-2 border-green-500 flex items-center gap-5 my-10 mx-auto max-w-5xl justify-between;
}

nav a,
nav span {
  @apply text-gray-500;
}

nav a:hover {
  @apply text-black;
}

nav button:hover{
   @apply text-black;
}

.navSignOut:hover {
  @apply text-black;
}

main nav {
  @apply border-0;
}

/* button styles */
button {
  @apply px-3 py-2 rounded-sm flex justify-center items-center gap-2 text-sm;
}

.btn-land {
  @apply bg-primary text-white rounded-md
}

.btn-land:hover {
  @apply bg-yellow-700 
}

.btn-primary:hover {
  @apply bg-opacity-90;
}

.btn-primary {
  @apply bg-primary text-white;
}

.btn-secondary {
  @apply bg-gray-200 text-gray-900;
}

/* textarea styles */

textarea {
  @apply resize-none;
}

/* feedback styles */
.error {
  @apply border-2 border-red-500 bg-red-300 text-red-800 py-1 px-2 rounded-sm block max-w-fit my-4 mx-auto;
}

/* card styles */
.card {
  @apply bg-white shadow-sm rounded-md py-3 px-4 my-4 relative overflow-auto;
}

.card-home {
  @apply bg-white shadow-sm rounded-md py-3 px-4 my-4 relative md:w-80 md:h-96;
}


.card-textarea {
  @apply bg-white shadow-sm rounded-md py-3 px-4 my-4 relative overflow-auto;
}

.card-home h3 {
  @apply font-bold text-gray-700 text-sm mb-0;
}

.card h3 {
  @apply font-bold text-gray-700 text-sm mb-0;
}

.card p {
  @apply my-4 text-sm leading-6;
}

/* Embla Carousel */



.embla {
  max-width: 38rem;
  --slide-height: 33rem;
  --slide-spacing: 1rem;
  --slide-size: 70%;
}

@media (max-width: 480px) {
  .embla {
    max-width: 15rem;
    --slide-height: 15rem;
    --slide-spacing: 0.25rem;
    --slide-size: 90%;
  }
}

.embla__viewport {
  overflow: hidden;
}

.embla__container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}

.embla__slide {
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}

.embla__slide__number {
  border-radius: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--slide-height);
}

.embla__controls {
  display: flex;
  grid-template-columns: auto 1fr;
  justify-content: center;
  gap: 1.2rem;
  margin-top: 1.8rem;
}

.embla__dots {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  justify-content: flex-end;
  align-items: center;
  margin-right: calc((2.6rem - 1.4rem) / 2 * -1);
}

.embla__dot {
  border-color: #3cab4c5c;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border-width: 2px;
  padding: 0;
  margin: 0;
  width: 1.6rem;
  height: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.embla__dot:after {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  content: '';
}

.embla__dot--selected:after {
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  border-width: 2px;
  border-color: rgba(52,211,153);
}